      * {
        margin: 0;
        padding: 0;
    font-family: 'Roboto', sans-serif;
}

      .Professional {
        width: 100%;
        min-height: 90vh;
      }
      .Professional1 {
        width: 20%;
        min-height: 47vh;
        background-color: skyblue;
        border-bottom-right-radius: 100%;
      }
      .Professional3 {
        width: 20%;
        min-height: 15vh;
        background-color: darkblue;
        border-bottom-right-radius: 100%;
      }
      .Professional2 {
        width: 30%;
        min-height: 50vh;
        background-color: rgb(222, 137, 19);
        border-bottom-left-radius: 100%;
        float: right;
      }
      .Professional4 {
        width: 55%;
        min-height: 25vh;
        background-color: rgba(227, 224, 36, 0.789);
        border-bottom-left-radius: 100%;
        float: right;
      }
      .Professional5 {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 40vh;
      }
      .Certificate {
        width: 100%;
        min-height: auto;
        justify-content: center;
        margin-top: -15%;
        
        display: flex;
      
      }
      .Certificate1 {
        width: 50%;
        min-height: auto;
        margin-bottom: 5%;
        justify-content: center;
      }
      .Certificate1 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
      }
      .Certificate h1 {
        text-align: center;
        font-size: 55px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        font-weight: 400;
      }
      .Certificate1 p {
        font-size: 21px;
        line-height: 1.5;
        text-align: center;
        margin-top: 3%;
      }
      .req {
        text-align: center;
        width: 100%;
        margin-top: 5%;
      }
      .req a {
        color: black;
        text-align: center;
        font-size: 20px;
        text-decoration: none;
        padding: 10px 40px 10px 40px;
        border-radius: 20px;
        border: 1px solid black;
      }
      .google {
        display: flex;
        justify-content: center;
      }
      .google2 {
        width: 30%;
        text-align: center;
        margin-top: 5%;
      }
      .checked {
        color: orange;
        font-size: 20px;
      }
      .conterr a {
        text-decoration: none;
      }
      .conterr .fo {
        font-size: 25px;
        margin-right: 5%;
        font-weight: 900;
        color: black;
      }
      .conterr .go {
        font-size: 18px;
        color: black;
        margin-left: 0;
      }
      .duration {
        width: 80%;
        min-height: 18vh;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
      }
      .duration1{
        width: 17%;
        height: auto;
        margin-bottom: 5%;
        border-right: 1px solid rgba(182, 167, 167, 0.793);
      }
      .duration1 h1{
        font-size: 17px;
        line-height: 2.5;
      }
      .duration2 h1{
        font-size: 17px;
        line-height: 2.5;
      }
.duration1 mark{
    background-color: blue;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-weight: 100;
    color: white;
}
.become{
    width: 100%;
    min-height: auto;
 
    padding-bottom: 5%;
    background-color: var(--token-bbe65d78-b64b-43c9-8b53-3a56957cc202, #f9f9fa);
    

}
.become1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 60vh;
    justify-content: space-between;
    display: flex;
    
    padding-top: 5%;
}
.become2{
    width: 60%;
}
.become2 h1{
    font-size: 45px;
    font-weight: 400;
}
.become2 p{
    font-size:18px;
    margin-top: 4%;
    line-height: 1.2;
}
.become2 ul {
    font-size:18px;
    margin-top: 4%;
    line-height: 1.6;
}
.become3{
    width: 35%;
    
}
.become3 img{
    width: 100%;
    height: 40vh;
    border-radius: 15px;
    border: 2px solid gainsboro;
}
.our{
    font-size: 18px;
    text-align: center;
    padding-bottom: 3%;
}
.our1 {
    align-content: center;
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    min-height: 20vh;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.our2 {
    width: 15%;
}
.our2 img {
    width: 80%;
}
.our3 {
    width: 15%;
}
.our3 img {
    width: 80%;
}
.our4 {
    width: 15%;
}
.our4 img {
    width: 80%;
}
.whyget{
    width: 100%;
    min-height: 95vh;
}
.whyget .why1{
    text-align: center;
   padding-top: 6%;
   padding-bottom: 6%;
}
.whyget1{
    width: 80%;
    justify-content: space-between;
    min-height: 40vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.whyget2{
    width: 30%;
}
.whyget2 img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
}
.whyget2 h1{
    font-size: 23px;
    font-weight: 300;
    line-height: 2;
}
.whyget2 p{
    font-size: 18px;
    line-height: 1.5;
}
.after{
    width: 100%;
    min-height: 50vh;
    background-color: var(--token-358ee009-7cb7-4434-9be3-383d30a81810, #f6f4ee);
    display: flex;
    justify-content: space-evenly;
   align-items: center;
}
.after1{
    width: 45%;
    min-height: 35vh;
    background-color: white;
    border-radius: 10px;


}
.after1 p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    font-size: 18px;
    line-height: 1.3;

}
.after2{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.after2 img{
    width: 80px;
    height: 10vh;
   border-radius: 100px;
   margin-top: 3%;
}
.after2 p{
    margin-left: 5%;
}
.online{
    width: 100%;
    min-height: auto;
    margin-bottom: 5%;
}
.online h1{
    text-align: center;
    padding-top: 5%;
    font-weight: 400;
    
}
.online p{
    text-align: center;
    font-size: 19px;
    width: 50%;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    
}
.community{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.community1{
    width: 30%;
    margin-top: 5%;
    min-height: 50vh;
    background-color: #f6f4ee;
    border-radius: 15px;
}
.community1 img{
    width: 100%;
    padding-top: 5%;
}
.community1 p{
    width: 80%;
    font-size: 18px;
}
.flexible{
    width: 100%;
    min-height: auto;
    margin-bottom: 5%;
}
.flexible h1{
text-align: center;
font-size: 35px;
padding-bottom: 2%;
padding-top: 2%;
}
.flexible p{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
}
.flexible1 {
    width: 50%;
    height: 20vh;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.flexible2 {
    width: 30%;

}
.flexible2 img{
    width: 80%;
    margin-top: 15%;
}
.flexible3 {
    width: 30%;

}
.flexible3 img{
    width: 90%;
    margin-top: 15%;
}

.flexible4 {
    width: 30%;

}
.flexible4 img{
    width: 60%;
}
.module{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
}
.module1{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 25vh;
    padding-top: 1%;
    justify-content: space-between;
}
.module2{
    width: 30%;
}
.module2 p{
    color: blue;
    font-weight: 800;
    font-size: 18px;
}
.module2 h2{
    padding-top: 5%;
    font-size: 25px;
    font-weight: 400;
}
 .module2 .ac{
    color: black;
    list-style: 1.5;
    padding-top: 5%;
    font-weight: 100;
}
.syllabus{
    width: 100%;
    min-height: auto;
    margin-bottom: 7%;
    margin-top: 7%;

}
.syllabus h1{
    text-align: center;
    font-weight: 500;
}
.syllabus1 {
    text-align: center;
    width: 100%;
    margin-top: 4%;
}
.syllabus1 a{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    border: 1px solid black;
}
.cohort{
    width: 100%;
    min-height: auto;
    padding-bottom: 5%;
}
.cohort p{
    color: blue;
    text-align: center;
    font-size: 18px;
    padding-top: 3%;
}
.cohort h1{
    text-align: center;
    padding-top: 1%;
    font-weight: 500;
}
.cohort .cohort1{
    color: black;
    padding-top: 1%;
    width: 50%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
.cohort2{
    width: 60%;
    min-height: auto;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;

}
.cohort3{
    width: 45%;
    background: linear-gradient(72deg, var(--token-358ee009-7cb7-4434-9be3-383d30a81810, #f6f4ee) 0%, #f5c9ef 100%);
    height: auto;
          padding-bottom: 10%;

    border-radius: 16px;
}
.cohort4{
    width: 45%;
    background-color: #f6f4ee;
    height: auto;
            padding-bottom: 10%;

    background-color: var(--token-eb13911e-0e46-45df-b063-ffd9f17aeac1, #e7e7e9);
    border-radius: 16px;
}
.cohort3 h2{
    font-size: 25px;
    color: black;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 2%;
}
.cohort3 p{
    font-size: 27px;
    color: black;
}
.cohort5 {
    text-align: center;
    width: 100%;
    margin-top: 15%;
}
.cohort5 a{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 60px 10px 60px;
    border-radius: 20px;

    border: 1px solid black;
}
.cohort4 h2{
    font-size: 25px;
    color: black;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 2%;
}
.cohort4 p{
    font-size: 22px;
    color: black;
}
.info{
width: 100%;
min-height: auto;
padding-bottom: 5%;
background-color: var(--token-358ee009-7cb7-4434-9be3-383d30a81810, #f6f4ee);
    display: flex;
  justify-content: space-around;
}
.info1{
    width: 40%;
    
}
.info1 h1{
    padding-top: 15%;
    font-weight: 500;
    padding-left: 15%;
   
}
.info1 p{
    padding-top: 5%;
    width: 80%;
    font-size: 20px;
    padding-left: 15%;
}
.info2{
    width: 30%;
    margin-right: 5%;
    padding-top: 8%;
}

        
        input[type="text"], input[type="email"], input[type="tel"], select {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 15px;
            margin-bottom: 5%;
            margin-top: 1%;
            margin-bottom: 10px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: black;
            color: white;
            padding: 10px 40px;
            border: none;
            border-radius: 15px;
            margin-top: 5%;
            cursor: pointer;
        }
        .stillhave{
            width: 100%;
            height: fit-content;
            min-height: auto;
            line-height: 1.5;      
          }
          .stillhave h1{
            text-align: center;
            padding-top: 12%;
            font-weight: 500;
            font-size: 35px;
          }
          .stillhave p{
            text-align: center;
            padding-top: 1%;
            font-size: 20px;
            width: 55%;
            margin-left: auto;
            margin-right: auto;
          }
      @media (max-width: 700px) {
        .Professional2 {
          display: none;
        }
        .Professional1 {
          display: none;
        }
        .Certificate1 img {
          width: 85%;
        }
        .Certificate1 {
          width: 100%;
          margin-bottom: 10%;
     
        }
        .Professional5 {
          height: 15vh;
        }
        .Certificate h1 {
          font-size: 35px;
        }
        .Certificate1 p {
          margin-left: auto;
          margin-right: auto;
          width: 80%;
        }
        .req {
          margin-bottom: 15%;
        }
        .google {
          display: contents;
        }
        .google2 {
          width: 100%;
          margin-top: 5%;
        }
        .conterr .go {
          width: 100%;
        }
        .conterr .fo {
          margin-right: 2%;
        }
        .duration{
            display: block; 
            margin-bottom: 10%;
        }
        .duration1{
            width: 100%;
            margin-top: 4%;
            border-bottom: 1px solid rgba(182, 167, 167, 0.793);
            border-right: 0px solid rgba(182, 167, 167, 0.793);
        }
        .become1{
            display: block;
        }
        .become2 h1{
            font-size: 35px;
            text-align: center;
        }
        .become2{
            width: 100%;
        }
        .become3 {
    width: 100%;
    margin-bottom: 15%;
    margin-top: 10%;
}
.our1{
    display: block;
}
.our2 {
    width: 100%;
 

}
.our2 img {
    width: 30%;
    margin-left: auto;
  margin-right: auto;
  display: block;
  
}
.our3 {
    width: 100%;
 

}
.our3 img {
    width: 30%;
    margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: -10%;
  
}
.our4 {
    width: 100%;
 

}
.our4 img {
    width: 30%;
    margin-left: auto;
  margin-right: auto;
  display: block;
  
}
.our {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.whyget .why1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: 400;
    margin-top: 15%;
}
.whyget1{
    display: contents;
}
.whyget2{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.whyget{
    margin-bottom: 20%;
}
.after{
    display: block;
    padding-top: 10%;
    padding-bottom: 1px;
}
.after1{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    padding-top: 2%;
    padding-bottom: 4%;
    

}
.online p{
    width: 90%;
}
.online h1{
    margin-top: 15%;
}
.community{
    display: contents;
}
.community1{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.community1 h1{
    margin-top: 0%;
}
.flexible h1{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-top: 15%;
}
.flexible p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.flexible1{
    display: contents;

}
.flexible2{
    width: 100%;
    
}
.flexible2 img{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.flexible3{
    width: 100%;
    
}
.flexible3 img{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.flexible4{
    width: 100%;
margin-bottom: 20%;
    
}
.flexible4 img{
    width: 20%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.module1{
    display: contents;
}
.module2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

}
.module2 h2 {
    font-size: 22px;
    font-weight:600;
}
.module2 .ac{
    padding-top: 2%;
}
.syllabus h1{
    font-size: 25px;
    padding-top: 5%;
}
.syllabus1{
    margin-top: 10%;
}
      
      .cohort4 p a{
        color: black;
        font-size: 20px;
      }
  
      .cohort .cohort1{
        width: 80%;
        padding-top: 3%;
      }
      .cohort2{
        display: block;
        width: 100%;
      }
      .cohort3{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;

      }
      .cohort4{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 7%;
        
      }
      .info{
        display: block;
        margin-top: 15%;
        padding-bottom: 5%;
      }
      .info1{
        width: 90%;
        
      }
      .info2{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
    }
